@(what: String, causes: Seq[String] = Seq(), suggestions: Seq[String] =Seq())(implicit context : scrupal.controllers
.Context)

@import scrupal.views.html

@html.markedPage("Not Found - " + what) {
# There's A Hole In The Fabric Of The InterWebz!
Sorry, but we couldn't find the @what page you requested. This might have happened because you:

@for(c <- causes) {
+ @c
}
+ used an old bookmark for which the resource is no longer available
+ mis-typed the web address.

We suggest you try one of these options:

@for(s <- suggestions) {
+ @s
}
+ Type in another URL, or
+ try to get lucky with [this suggestion](@context.suggestURL).
}
