@(title: String, module: String = "scrupal")(initScript: play.twirl.api.Html)(content: Html)(implicit context : scrupal.controllers.Context)
@import scrupal.views.html
@import scrupal.controllers.routes.Assets
@defining[Html](Html(initScript.body + "<style type=\"text/css\">[ng\\:cloak], [ng-cloak], [data-ng-cloak], " +
    "[x-ng-cloak], .ng-cloak, .x-ng-cloak { display: none !important;}</style>")) { init: Html =>
@html.basicPage(title) @{init}  {
<body ng-cloak>
<div id="@module" class="container">
@content
@html.debug()
</div>
<script>var scrupal_module_to_load="@module"</script>
@helper.requireJs(core = Assets.requirejs().url, module = Assets.js_s("require-data-main").url)
</body>
}
}
