@(title: String, module: String = "scrupal")(initScript: play.twirl.api.Html)(content: Html)(implicit context : scrupal.controllers.Context)
@import scrupal.views.html
@import scrupal.controllers.routes.Assets
@defining[Html](Html(initScript.body)) { init: Html =>
@html.basicPage(title) @{init}  {
<body>
<div id="@module" class="container">
@content
@html.debug()
</div>
<script>var scrupal_module_to_load="@module"</script>
@helper.requireJs(core = Assets.requirejs().url, module = Assets.js_s("require-data-main").url)
</body>
}
}
