@(title: String)(headSuffix: Html)(body: Html)(implicit context : scrupal.controllers.Context)
@import scrupal.controllers.routes.Assets
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@title - @context.appName</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="@Assets.favicon()">
    <link rel="stylesheet" href="@Assets.theme(context.themeProvider,context.themeName)" media="screen">
    <link rel="stylesheet" href="@Assets.css( "font-awesome" )" media="screen">
    <link rel="stylesheet" href="@Assets.css_s( "scrupal" )" media="screen">
    @headSuffix
</head>
@body
</html>
