@(title: String, step: scrupal.controllers.ConfigWizard.Step.Kind,
    lastError: Option[Throwable])(body: Html)(implicit context : scrupal.controllers.Context)
@import scrupal.views.html
@import scrupal.controllers.ConfigWizard.Step
@import scrupal.controllers.routes.ConfigWizard
@html.angularPage(title) {
} {
<h2>@title</h2>
<h3>Progress</h3>
<div class="row-fluid">
    <div class="span4">
        <progress percent="@Step.progress(step)" class="progress-warning progress-striped active"></progress>
    </div>
    <div class="span8">
        <small class="text-muted">Step @Step.stepNumber(step) of @Step.numberOfSteps.
            <i class="icon-forward"></i> @Step.currentState(step)
            </small>

    </div>
    @if(lastError.isDefined) {
        <div class="alert-warning">Current Issue: @lastError.get.getMessage</div>
    } else {
        @if(step != Step.Zero_Welcome) {
            <div class="text-success">Current Issue: None</div>
        }
    }
</div>
<hr/>
<div class="well">
@body
</div>
<hr/>
<p><a href="@ConfigWizard.configure">Try This Step Again</a></p>
}
