@(path: String)(implicit context : scrupal.controllers.Context)
@import scrupal.views.html
@html.angularPage("Scrupal Documentation") {
<div class="row span12">
<marked>
path=@path
- domain = @context.request.domain
- uri: @context.request.uri
- path: @context.request.path
- method: @context.request.method
- version: @context.request.version
- remote: @context.request.remoteAddress
- host: @context.request.host
- domain: @context.request.domain
- flash: @context.request.flash.toString

</marked>
</div>

}
