@(message: String)(implicit request: RequestHeader)
@import scrupal.views.html
@html.plainPage("Welcome to Scrupal") {
<div class="alert-info">This will eventually contain the main index.</div>
<div>
	<i class="icon-forward" style="color: lawngreen;"></i>
</div>


<p>1+1={{1+1}}</p>

<marked>
# Welcome To Scrupal
If you're seeing this, you've likely freshly installed
# Configuration
Since this is a fresh installation, we're going to get you going with some configuration.
## Heading
1. `list` 1
1. ~numbered~ 1
</marked>


}
