@(title: String)(content: Html)(implicit context : scrupal.models.Context  = scrupal.models.Context.active, request: RequestHeader)
@import scrupal.controllers.routes.Assets
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@title - @context.appName</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="@Assets.img( "favicon.png" )">
    <link rel="stylesheet" href="@Assets.css( "bootstrap" )" media="screen">
    <link rel="stylesheet" href="@Assets.css( "font-awesome" )" media="screen">
	<link rel="stylesheet" href="@Assets.css_s( "scrupal" )" media="screen">
    <style type="text/css">
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
    }
    </style>
</head>
<body ng-cloak>
<div class="container">@content</div>
@helper.requireJs(core = Assets.requirejs().url, module = Assets.js_s("require-data-main").url)
</body>
</html>

