@(title: String)(content: Html)(
    implicit context : scrupal.models.Context  = scrupal.models.Context.active, request: RequestHeader)
@import scrupal.controllers.routes.Assets
@import scrupal.controllers.routes.Home
@import scrupal.views.html.alert
@import scrupal.views.html.messages
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@title - @context.appName</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="@Assets.img( "favicon.png" )">
    <link rel="stylesheet" href="@Assets.css( "bootstrap" )" media="screen">
    <link rel="stylesheet" href="@Assets.css( "font-awesome" )" media="screen">
	<link rel="stylesheet" href="@Assets.css_s( "scrupal" )" media="screen">
</head>
<body>
@alert(context.alerts)
<div class="container">
@messages(None)
Index: @Home.index
@content
</div>
@helper.requireJs(core = Assets.requirejs().url, module = Assets.js_s("require-data-main").url)
@**
<script type="text/javascript" src="@Assets.js( "angular" )"></script>
<script type="text/javascript" src="@Assets.js( "jquery" )"></script>
<script type="text/javascript" src="@Assets.js( "bootstrap" )"></script>
<script type="text/javascript" src="@Assets.js( "marked" )"></script>
**@
</body>
</html>

