.cache
.classpath
.history
.*.swp
.project
.settings/
.target/
application.home_IS_UNDEFINED/
bower_components
conf/databases.conf
conf/heroku.conf
defunkt/
diff.out
diffs
dist
logs
out/
project/project
project/target
public/javascripts
public/stylesheets
target
tmp
.idea/dictionaries
.idea/workspace.xml
.idea/tasks.xml
.DS_Store
