.cache
.classpath
.history
.idea/
.idea*
.*.swp
.project
.settings/
.target/
application.home_IS_UNDEFINED/
bin
bower_components
conf/databases.conf
conf/heroku.conf
defunkt/
diff.out
diffs
dist
logs
out/
project/project
project/target
target
tmp
