# Travis Configuration File
# See http://www.scala-sbt.org/0.13/docs/Travis-CI-with-sbt.html
# See http://docs.travis-ci.com/

sudo: false
language: scala
scala:
   - "2.11.6"
jdk:
   - oraclejdk8
   - openjdk8

script:
  - sbt ++$TRAVIS_SCALA_VERSION -Dfile.encoding=UTF8 test

  # Tricks to avoid unnecessary cache updates
  - find $HOME/.sbt -name "*.lock" | xargs rm
  - find $HOME/.ivy2 -name "ivydata-*.properties" | xargs rm

notifications:
  email:
    recipients:
      secure: travis_encrypt_broken
