@(xcptn: Throwable)(implicit context: scrupal.api.Context)
@import scrupal.api.views.html.pages
@pages.plainPage("Unable To Process Route") {
<h1>Unable To Process Routes</h1>
<p>Unfortunately, Scrupal failed to construct its routes so it cannot process your request. This
    usually means there is a software problem that affects route construction in the controllers.
</p>
<dl>
    <dt>Exception Class</dt><dd>@xcptn.getClass.getName</dd>
    <dt>Exception Message</dt><dd>@xcptn.getMessage</dd>
    <dt>Stack Trace</dt>
    <dd>
        <code>
            <small>
            @for(ste <- xcptn.getStackTrace) {
                @ste.toString @if(ste.isNativeMethod) { (native)} <br/>
            }
            </small>
        </code>
    </dd>
</dl>
}
