@**
* Generate an HTML5 input datetime.
*
* Example:
* {{{
* @inputDateTime(field = myForm("releaseDateTime"), args = 'size -> 10)
* }}}
*
* @param field The form field.
* @param args Set of extra attributes.
* @param handler The field constructor.
*@
@(field: play.api.data.Field, args: (Symbol,Any)*)(implicit handler: views.html.helper.FieldConstructor,
    lang: play.api.i18n.Lang)

@import views.html.helper._

@input(field, args:_*) { (id, name, value, htmlArgs) ⇒
    <input type="datetime-local" id="@id" name="@name" value="@value" @toHtmlArgs(htmlArgs)>
}
