@(dbs: scrupal.controllers.ConfigWizard.DatabasesForm,
  step: scrupal.controllers.ConfigWizard.Step.Kind,
  lastError: Option[Throwable])(
  implicit context : scrupal.controllers.Context)
@import scrupal.views.html
@import scrupal.views.Helpers._
@import scrupal.views.html.helpers._
@import helper._
@import scrupal.controllers.routes.ConfigWizard

@html.configPage("Database Configuration", step, lastError)  {
<p>
I'm going to help you select and configure your database now. Scrupal stores all its information in a database and
picking the right one for your needs is important. You may choose from among the following databases:
</p>
<dl class="dl-horizontal">
    <dt>H2</dt><dd>Fast, lightweight, easy to use. A good choice if you're evaluating,
    testing or extending Scrupal. It's what the developers use!</dd>
    <dt>MySQL</dt><dd>A mature, competent, stable and scalable open source database owned by Oracle. A good choice if
    you are looking to host your Scrupal somewhere as MySQL is quite ubiquitous.</dd>
    <dt>Postgres</dt><dd>A highly scalable database with many features the others don't have. A good choice if you
    need access to advanced database features.</dd>
    <dt>SQLite</dt><dd>Another competent open source database. A good choice if you're already familiar with it.</dd>
</dl>
<p>If you're not sure which database to select, choose H2. You can always change, without too much difficulty,
    later on.</p>


@hForm("Databases", ConfigWizard.configure) {
<input type="hidden" name="step" value="@step">
@repeat(dbs("dbs"), min = 1) { db =>
    @inputText(db("name"), 'label -> "Database Name", 'lclass -> "2", 'class -> "col-lg-4",
        'placeholder -> "Enter a name you want to use to refer to this database configuration.")
    @select(dbs("kind"), options=List(
        "H2"->"H2", "MySQL" -> "MySQL", "Postgres" -> "Postgres", "SQLite" -> "SQLite"),
        'label -> "Database Type", 'lclass -> "2", 'class -> "col-lg-4")
    @inputText(dbs("host"), 'label -> "Database Host", 'lclass -> "col-lg-2", 'class -> "col-lg-6",
        'placeholder -> "Domain name or IP address of the host your database is on, or 'localhost'.")
    @inputNumber(dbs("port"), 1, 65535, 'label -> "Database Port", 'lclass -> "col-lg-2", 'class -> "col-lg-6",
        'placeholder -> "TCP Port number for database connections, or leave blank for default")
    @inputText(dbs("user"), 'label -> "Database User", 'lclass -> "col-lg-2", 'class -> "col-lg-6",
        'placeholder -> "User name to log into database, or blank for none.")
    @inputPassword(dbs("pass"), 'label -> "User's Password", 'lclass -> "col-lg-2", 'class -> "col-lg-6",
        'placeholder -> "Password for DB user, if a user was specified above.")
}
    <button class="btn btn-default col-lg-2" name="how" value="configure" type="submit">Continue</button>
}
}
