@(dbs: scrupal.controllers.ConfigWizard.DatabaseForm,
  step: scrupal.controllers.ConfigWizard.Step.Kind,
  lastError: Option[Throwable])(
  implicit context : scrupal.controllers.Context)
@import scrupal.views.html
@import views.html.helper._
@import scrupal.views.html.helpers._
@import scrupal.controllers.routes.ConfigWizard

@implicitField = @{ FieldConstructor(hFormFieldConstructor.f) }

@html.configPage("Database Configuration", step, lastError)  {
<p>
I'm going to help you select and configure your database now. Scrupal stores all its information in a
<a href="https://www.mongodb.org/">mongoDB</a> database and we need to specify enough information for Scrupal
to find or create the database you want to use for Scrupal. If you don't have mongoDB installed, you can
<a href="https://www.mongodb.org/downloads">download it from this link.</a>. In order to specify the database
to use, you will need to provide the hostname the mongoDB server (daemon) is running on, the name of the database
you wish to use, and the login credentials (optional).



@hForm("Databases", ConfigWizard.configAction) {
    @inputText(dbs("host"), '_label -> "Host Name", '_placeholder -> "Enter the host name where mongoDB is running.")
    @inputText(dbs("port"), '_label -> "Port Number", '_placeholder -> "Enter the TCP port number mongoDB is listening on.")
    @inputText(dbs("name"), '_label -> "Database Name",
        '_placeholder -> "Enter a name you want to use to refer to this database configuration.")
    @inputText(dbs("user"), '_label -> "Database User",
        '_placeholder -> "User name to log into database, or blank for none.")
    @inputPassword(dbs("pass"), '_label -> "User's Password",
        '_placeholder -> "Password for DB user, if a user was specified above.")
    <button class="btn btn-default col-lg-2" name="how" value="configure" type="submit">Continue</button>
}
}
