@(dbs: scrupal.controllers.ConfigWizard.DatabaseForm,
  step: scrupal.controllers.ConfigWizard.Step.Kind,
  lastError: Option[Throwable])(
  implicit context : scrupal.controllers.Context)
@import scrupal.views.html
@import views.html.helper._
@import scrupal.views.html.helpers._
@import scrupal.controllers.routes.ConfigWizard

@implicitField = @{ FieldConstructor(hFormFieldConstructor.f) }

@html.configPage("Database Configuration", step, lastError)  {
<p>
I'm going to help you select and configure your database now. Scrupal stores all its information in a database and
picking the right one for your needs is important. You may choose from among the following databases:
</p>
<dl class="dl-horizontal">
    <dt>H2</dt><dd>Fast, lightweight, easy to use. A good choice if you're evaluating,
    testing or extending Scrupal. It's what the developers use!</dd>
    <dt>MySQL</dt><dd>A mature, competent, stable and scalable open source database owned by Oracle. A good choice if
    you are looking to host your Scrupal somewhere as MySQL is quite ubiquitous.</dd>
    <dt>Postgres</dt><dd>A highly scalable database with many features the others don't have. A good choice if you
    need access to advanced database features.</dd>
    <dt>SQLite</dt><dd>Another competent open source database. A good choice if you're already familiar with it.</dd>
</dl>
<p>If you're not sure which database to select, choose H2. You can always change, without too much difficulty,
    later on.</p>


@hForm("Databases", ConfigWizard.configAction) {
    @inputText(dbs("name"), '_label -> "Database Name",
        '_placeholder -> "Enter a name you want to use to refer to this database configuration.")
    @select(dbs("kind"), options=List(
        "H2"->"H2", "MySQL" -> "MySQL", "Postgres" -> "Postgres", "SQLite" -> "SQLite"),
        '_label -> "Database Type")
    @inputText(dbs("url"), '_label -> "Database JDBC URL",
        '_placeholder -> "JDBC URL for the database")
    @inputText(dbs("user"), '_label -> "Database User",
        '_placeholder -> "User name to log into database, or blank for none.")
    @inputPassword(dbs("pass"), '_label -> "User's Password",
        '_placeholder -> "Password for DB user, if a user was specified above.")
    <button class="btn btn-default col-lg-2" name="how" value="configure" type="submit">Continue</button>
}
}
