@(args: Map[String,Html])(implicit context: scrupal.api.Context)
@import scrupal.api.views.html.pages
@pages.plainPage("Welcome To Scrupal!") {
<div class="panel panel-primary">
<div class="panel-heading">
<h1 class="panel-title">Welcome To Scrupal!</h1>
</div>
<div class="panel-body">
<p>You are seeing this page because Scrupal has not found an enabled site in its database. There could be lots of
    reasons why that happened but it is likely that this is a new installation. So, you have a variety of
    choices you can make from here:</p>
<ul>
    <li>You can read the <a href="/doc/index.md">Scrupal Documentation</a></li>
    <li>You can <a href="/config"><em>Configure Scrupal</em></a>. If you've just installed Scrupal, this is what
        you want. The Scrupal ConfigWizard will walk you through the steps to having your first, minimal, site
        constructed. It should take less than 2 minutes.
    </li>
    <li>You can access the echo entity. Try <a href="/echoes/foo"><em>this link</em></a> and others like it to
        access the echo entity. This is a very  simple entity that is bundled with Scrupal. It serves as a
        reference for building Scrupal entity objects. All it does is turn each request into an HTML page that
        displays the request in a readable format. You can use this to learn Scrupal at the code level or you can use
        it for benchmarking Scrupal's internal machinery without latency introduced by modules, nodes, databases, etc.
    </li>
</ul>
<p>There's lots more you can do with Scrupal, of course, but you need to get configured first or solve the reason
    why this page came up. Some of the potential reasons are:</p>
<ul>
    <li>Your MongoDB database that scrupal was using got damaged somehow.</li>
    <li>There is a network failure between your Scrupal machine and your MongoDB server machine.</li>
    <li>A coding problem has made the procedure of finding sites yield an empty list.</li>
</ul>
</div>
</div>
}

