@(title: String)(headSuffix: Html=Html(""))(body: Html)(script_tail: Html = Html(""))(implicit context : scrupal.core.api.Context)
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@title - @context.appName</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="@context.description">
    <link rel="shortcut icon" type="image/x-icon" href="@scrupal.core.PathFinder.favicon()">
    <link rel="stylesheet" href="@scrupal.core.PathFinder.theme(context.themeProvider,context.themeName)" media="screen">
    <link rel="stylesheet" href="@scrupal.core.PathFinder.css( "font-awesome" )" media="screen">
    <link rel="stylesheet" href="@scrupal.core.PathFinder.css_s( "scrupal" )" media="screen">
    @headSuffix
</head>
<body>
@body
<script>
@script_tail
</script>
</body>
</html>
