@(uplink: String, files: Map[String,String], dirs: Map[String,Map[String,String]])
<div class="well-small">
<div class="btn-toolbar-vertical" role="group">
<a href="@uplink" class="btn btn-xs btn-primary active" role="button">Up</a>
@for((title,link) ← files) {
<a href="@link" class="btn btn-xs btn-primary" role="button" >@title</a>
}
@for((title,map) ← dirs) {
  <div class="btn-group-xs btn-group-vertical" role="group">
    <button type="button" class="btn btn-xs btn-primary dropdown-toggle" data-toggle="dropdown"
    aria-expanded="false">@title <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu">
      @for((label,href) ← map ) {
        <li><a data-target="#" href="@href" role="button">@label</a></li>
      }
    </ul>
  </div>
}
</div>
</div>
