@(value: reactivemongo.bson.BSONValue)
@import reactivemongo.bson._
@import scrupal.core.views.html.utils._
@import java.util.Date
@{
  value match {
    case s: BSONString ⇒ "\"" + s.value + "\""
    case i: BSONInteger ⇒ i.value
    case l: BSONLong ⇒ l.value + "L"
    case d: BSONDouble ⇒ d.value + "D"
    case b: BSONBoolean ⇒ b.value
    case x: BSONDateTime ⇒ new Date(x.value).toString
    case a: BSONArray ⇒ bson_array(a)
    case d: BSONDocument ⇒ bson_document(d)
    case b: BSONBinary ⇒ "Binary(" + b.subtype.toString + ")"
    case x: BSONValue ⇒ "Code(" + x.code.toInt + ")"
  }
}
