@(args: Map[String,(scrupal.core.api.Node,scrupal.core.api.Result[_])])(implicit ctxt: scrupal.core.api.Context)
@import scrupal.core.views.html._
@import scrupal.core.api._
@pages.plainPage("Default Layout") {
  <p>
    A page defaultLayout was not selected for this information. As a result you are seeing the basic defaultLayout
    which just lists the tag content down the page. This probably isn't what you want, but it's what you've got until
    you create a defaultLayout for your pages.
  </p>
  @for((key, (n,r)) <- args) {
    <h1>@{n.kind.name} - @{n.description}</h1>
    <p>Result Disposition: @r.disposition.id.name - @r.disposition.msg</p>
    <div>
    @{r match {
      case h: HtmlResult ⇒ h.payload.body
      case s: StringResult ⇒ s.payload
      case t: TxtResult ⇒ t.payload.body
      case x: ExceptionResult ⇒ x.toHtmlResult.payload.body
      case e: ErrorResult ⇒ e.formatted
      case _ => <span>Media Type: {n.mediaType}</span>
    }}
    </div>
  }
}
