@(implicit ctxt: scrupal.core.api.Context)
<div>
  <dl class="dl-horizontal">
    <dt>uri</dt><dd>@ctxt.uri</dd>
    <dt>method</dt><dd>@ctxt.method<dd>
    <dt>protocol</dt><dd>@ctxt.protocol</dd>
    <dt>headers</dt><dd>@ctxt.headers</dd>
    <dt>scrupal</dt><dd>@ctxt.scrupal</dd>
    <dt>site</dt><dd>@ctxt.site</dd>
    <dt>appName</dt><dd>@ctxt.appName</dd>
    <dt>siteName</dt><dd>@ctxt.siteName</dd>
    <dt>user></dt><dd>@ctxt.user</dd>
    <dt>description</dt><dd>@ctxt.user</dd>
  </dl>
</div>
