@**
* Generate the HTML for an HTML Form Input element. This is where the input wrapper gets invoked to wrap the
* boilerplate around the input element.
* @param input The input to be formatted
* @param inputElementGenerator the function that generates the basic input element
* @param wrapper the boilerplate wrapper function that generates the final html for the input
*@
@(input: scrupal.core.api.Forms.Input)(
        inputElementGenerator: scrupal.core.api.Forms.InputGenerator)(
        implicit wrapper: scrupal.core.api.Forms.InputWrapper)

@id = @{ input.opts.get('id).map(_.toString).getOrElse(input._id) }

@wrapper(input, inputElementGenerator(input) )
