@(args: Map[String,(scrupal.api.Node,scrupal.api.Result[_])])(implicit context : scrupal.api.Context)
@import scrupal.api.views.html.pages
@import scrupal.api.PathOf
@pages.basicPage("Scrupal Administration") {
} {
<div class="container">
<div class="panel panel-primary">
<div class="panel-heading"><h1 class="panel-title">@@@@@@StatusBar@@@@@@</h1></div>
<div class="panel-body">
<div role="tabpanel">
<ul class="nav nav-pills" role="tablist">
  <li role="presentation" class="active">
    <a href="#database" aria-controls="database" role="tab" data-toggle="pill">Database</a></li>
  <li role="presentation">
    <a href="#configuration" aria-controls="configuration" role="tab" data-toggle="pill">Configuration</a></li>
  <li role="presentation">
    <a href="#modules" aria-controls="modules" role="tab" data-toggle="pill">Modules</a></li>
  <li role="presentation">
    <a href="#applications" aria-controls="applications" role="tab" data-toggle="pill">Applications</a></li>
</ul>
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="database">@@@@@@Database@@@@@@</div>
  <div role="tabpanel" class="tab-pane" id="configuration">@@@@@@Configuration@@@@@@</div>
  <div role="tabpanel" class="tab-pane" id="modules">@@@@@@Modules@@@@@@</div>
  <div role="tabpanel" class="tab-pane" id="applications">@@@@@@Applications@@@@@@</div>
</div>
</div>
</div>
</div>
</div>
} {
}

