@(title: String)(content: Html)(implicit context: scrupal.models.Context = scrupal.models.Context,
		request: RequestHeader)
@import scrupal.controllers.routes
<!DOCTYPE html>
<html lang="en" ng-app="scrupal">
<head>
    <title>@title - @context.appName</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="@routes.Assets.at("images/favicon.png")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")" media="screen">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/font-awesome/css/font-awesome.min.css")" media="screen">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")" media="screen">
	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/scrupal.css")" media="screen">
</head>
<body>
@alert(context.alerts)
<div class="container">
@messages(None)
@content
</div>
<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/angular-1.2.0rc1/angular.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/ui-bootstrap-0.5.0.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/showdown/showdown.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/showdown/extensions/github.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/scrupal.js")"></script>
</body>
</html>

